<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Location_form_edit" 
        service="Location" 
        entity="Location" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #description attr="description" label="description" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ACCOMMODATION-location_id">
    <div layout-padding>
      <o-table 
        attr="AccommodationTable" 
        service="Accommodation" 
        entity="Accommodation" 
        keys="id"
        parent-keys="location_id:id"
        columns="name;location_id;price_per_night;id"  
        horizontal-scroll="yes"
        detail-form-route="Accommodation" 
        edit-form-route="Accommodation"
        visible-columns="name;location_id;price_per_night;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="location_id" title="location_id">
    <o-table-cell-renderer-service attr="location_id" 
        service="Location" entity="LocationType" columns="id;name"
        parent-keys="id:location_id"
        value-column="name" keys="location_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #price_per_night attr="price_per_night" title="price_per_night" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ACTIVITY-location_id">
    <div layout-padding>
      <o-table 
        attr="ActivityTable" 
        service="Activity" 
        entity="Activity" 
        keys="id"
        parent-keys="location_id:id"
        columns="name;location_id;cost;id"  
        horizontal-scroll="yes"
        detail-form-route="Activity" 
        edit-form-route="Activity"
        visible-columns="name;location_id;cost;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="location_id" title="location_id">
    <o-table-cell-renderer-service attr="location_id" 
        service="Location" entity="LocationType" columns="id;name"
        parent-keys="id:location_id"
        value-column="name" keys="location_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #cost attr="cost" title="cost" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="EVENT-location_id">
    <div layout-padding>
      <o-table 
        attr="EventTable" 
        service="Event" 
        entity="Event" 
        keys="id"
        parent-keys="location_id:id"
        columns="name;location_id;event_date;id"  
        horizontal-scroll="yes"
        detail-form-route="Event" 
        edit-form-route="Event"
        visible-columns="name;location_id;event_date;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="location_id" title="location_id">
    <o-table-cell-renderer-service attr="location_id" 
        service="Location" entity="LocationType" columns="id;name"
        parent-keys="id:location_id"
        value-column="name" keys="location_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #event_date attr="event_date" type="timestamp" label="event_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>