<o-form-layout-manager attr="Review" mode="tab" title="REVIEW">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ReviewTable" 
            service="Review" 
            entity="Review" 
            title="REVIEW"
            keys="id"
            columns="id;accommodation_id;activity_id;family_member_id;comments;rating" 
            header-actions="R;D"
            visible-columns="id;accommodation_id;activity_id;family_member_id;comments;rating"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="accommodation_id" title="accommodation_id">
    <o-table-cell-renderer-service attr="accommodation_id" 
        service="Accommodation" entity="AccommodationType" columns="id;name"
        parent-keys="id:accommodation_id"
        value-column="name" keys="accommodation_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="activity_id" title="activity_id">
    <o-table-cell-renderer-service attr="activity_id" 
        service="Activity" entity="ActivityType" columns="id;name"
        parent-keys="id:activity_id"
        value-column="name" keys="activity_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="family_member_id" title="family_member_id">
    <o-table-cell-renderer-service attr="family_member_id" 
        service="FamilyMember" entity="FamilyMemberType" columns="id;name"
        parent-keys="id:family_member_id"
        value-column="name" keys="family_member_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #comments attr="comments" title="comments" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #rating attr="rating" title="rating" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>