<o-form-layout-manager attr="PackageBooking" mode="tab" title="PACKAGEBOOKING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PackageBookingTable" 
            service="PackageBooking" 
            entity="PackageBooking" 
            title="PACKAGEBOOKING"
            keys="id"
            columns="id;family_id;package_id;booking_date" 
            header-actions="R;D"
            visible-columns="id;family_id;package_id;booking_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="family_id" title="family_id">
    <o-table-cell-renderer-service attr="family_id" 
        service="Family" entity="FamilyType" columns="id;name"
        parent-keys="id:family_id"
        value-column="name" keys="family_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="package_id" title="package_id">
    <o-table-cell-renderer-service attr="package_id" 
        service="Package" entity="PackageType" columns="id;name"
        parent-keys="id:package_id"
        value-column="name" keys="package_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #booking_date attr="booking_date" type="timestamp" label="booking_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>